.content-header {
	height: 56px;
	width: 95%;
	margin-bottom: -10px;
	margin-left: 3%;
	padding-top: 20px;
	line-height: 40px
}

.content-header h1 {
	width: 30%;
	float: left;
	font-weight: 600;
	font-size: 26px;
	text-indent: 5px
}

.content-header h1 small {
	color: #8d8a8a;
	font-size: 12px;
	padding-top: 10px
}

.content-header .bread {
	padding-top: 10px;
	height: 36px;
	font-size: 18px;
	line-height: 36px;
	width: 40%;
	float: right;
	text-align: right
}

.content-header .bread a {
	color: #333333;
	font-weight: 600;
	padding-left: 10px
}

.content-header .bread input {
	width: 60%;
	height: 40px;
	border-radius: 20px;
	float: left;
	font-size: 14px;
	text-indent: 5px
}

.content-header .bread:nth-of-type(1) {
	width: 20%
}

.content .top-list {
	margin-top: 30px;
	width: 90%;
	margin-left: 5%
}

.content .top-list ul {
	height: 60px;
	display: flex;
	padding: 0;
	padding-left: 8px
}

.content .top-list ul li {
	list-style: none;
	text-align: left;
	margin-right: 20%
}

.content .top-list ul li p {
	margin: 0;
	padding: 0;
	font-size: 12px;
	color: #8d8a8a;
	cursor: pointer
}

.content .top-list ul li h3 {
	margin: 0;
	padding: 0;
	line-height: 35px;
	font-weight: 600;
	color: #1b1b1b
}

.content .top-box {
	width: 90%;
	margin-left: 5%;
	display: flex;
	height: 260px;
	background: #fff;
	justify-content: space-between;
	border-radius: 15px
}

.content .top-box .box-left {
	width: 45%;
	padding: 15px;
	position: relative
}

.content .top-box .box-left .top_to {
	height: 40px;
	display: flex;
	justify-content: space-around;
	align-items: center
}

.content .top-box .box-left .top_to h4 {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-weight: 600
}

.content .top-box .box-left .top_to .year {
	border: 1px solid #333333
}

.content .top-box .box-left .top_to .year span {
	display: inline-block;
	padding: 4px 6px
}

.content .top-box .box-left .top_to .year span:nth-of-type(2) {
	border-left: 1px solid #333333;
	background: #f3f3f3
}

.content .top-box .box-left .zhexian {
	width: 90%;
	height: 240px;
	margin-left: 5%;
	margin-top: -40px
}

.content .top-box .box-left .income {
	position: absolute;
	left: 10px;
	bottom: 10px;
	font-size: 22px;
	font-weight: 600;
	margin-left: 5%
}

.content .top-box .box-right {
	width: 45%;
	padding: 15px
}

.content .top-box .box-right .top_to {
	height: 40px;
	display: flex;
	justify-content: space-around;
	align-items: center
}

.content .top-box .box-right .top_to h4 {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-weight: 600
}

.content .top-box .box-right .top_to .year {
	border: 1px solid #333333
}

.content .top-box .box-right .top_to .year span {
	display: inline-block;
	padding: 4px 6px
}

.content .top-box .box-right .top_to .year span:nth-of-type(2) {
	border-left: 1px solid #333333;
	background: #f3f3f3
}

.content .top-box .box-right .zhexian {
	width: 90%;
	height: 240px;
	margin-left: 5%;
	margin-top: -40px
}

.content .top-box .box-right .outcome {
	margin-top: -35px;
	font-size: 22px;
	font-weight: 600;
	margin-left: 5%
}

.content .tongji {
	width: 90%;
	margin-left: 5%;
	margin-top: 20px;
	display: flex;
	justify-content: space-between
}

.content .tongji .col-md-4 {
	width: 30%;
	height: 340px;
	background: #fff;
	border-radius: 15px;
	position: relative
}

.content .tongji .col-md-4 .text-center {
	width: 100%;
	text-align: left;
	font-size: 16px;
	padding: 15px 10px 10px 5px
}

.content .tongji .col-md-4 .progress-group .progress-text {
	font-weight: 500;
	font-size: 14px;
	color: #3a3a3a
}

.content .tongji .col-md-4 .progress-foot {
	position: absolute;
	bottom: 15px;
	left: 18px
}

.content .tongji .col-md-4 .progress-foot a {
	color: #333333
}

.box-body {
	width: 100%;
	/* margin-left: 5%; */
	background: #fff;
	border-radius: 15px;
	margin-top: 20px
	min-height: 600px;
}

.box-body .table-responsive {
	position: relative;
	height: 300px;
	overflow: hidden
}

.box-body .table-responsive h4 {
	padding-left: 10px;
	font-weight: 600
}

.box-body .table-responsive .progress-foot {
	position: absolute;
	bottom: 10px;
	left: 8px
}

.box-body .table-responsive .progress-foot a {
	color: #333333
}

.content .needPeople {
	height: auto;
	margin-top: 10px
}

.content .needPeople .box-body {
	height: 900px;
	overflow: hidden
}

.content .needPeople .box-body .badge {
	cursor: pointer
}

.content .needPeople .box-body .table tr {
	width: 100%;
	overflow: hidden
}

.content .needPeople .box-body .table tr td input {
	width: 100%;
	border: none
}

.content .needPeople .mengban {
	display: none;
	width: 100%;
	height: 100%;
	background: #e0e0e0c4;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 200
}

.content .needPeople .mengban .delete {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	height: 290px;
	width: 500px;
	border: 1px solid #424242;
	border-radius: 15px;
	background: #fff;
	text-align: center
}

.content .needPeople .mengban .delete .fa {
	margin-top: 30px;
	font-size: 50px;
	color: #fb0;
	display: inline-block
}

.content .needPeople .mengban .delete h3 {
	line-height: 40px;
	font-size: 20px;
	margin-top: 25px
}

.content .needPeople .mengban .delete button {
	width: 70px;
	height: 40px;
	font-size: 16px;
	margin-top: 25px
}

.content .needPeople .mengban .delete .query {
	margin-right: 30px
}

.content .needPeople .xiala {
	margin: 25px 0 0 35px
}

.content .needPeople .xiala select {
	border: none
}

.content .mengban4 {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background: #c4c4c498;
	overflow: auto
}

.content .mengban4 .jieshao {
	position: absolute;
	width: 58%;
	height: 450px;
	background: #fff;
	top: 50px;
	left: 140px;
	right: 0;
	bottom: 0;
	margin: auto;
	border-radius: 15px;
	overflow: auto
}

.content .mengban4 .jieshao .jieshao-top {
	width: 92%;
	margin-left: 4%;
	overflow: hidden;
	height: 80px
}

.content .mengban4 .jieshao .jieshao-top h4 {
	float: left;
	margin: 30px 0 0 10px;
	font-weight: 600;
	font-size: 16px
}

.content .mengban4 .jieshao .jieshao-top input {
	float: left;
	width: 40%;
	height: 40px;
	margin-left: 15%;
	margin-top: 18px;
	border-radius: 20px;
	border: 1px solid #dfdddd;
	text-indent: 15px
}

.content .mengban4 .jieshao .jieshao-top .fa-search {
	font-size: 18px;
	margin-left: 15px;
	margin-top: 28px;
	cursor: pointer
}

.content .mengban4 .jieshao .table {
	width: 90%;
	margin-left: 5%
}

.content .mengban4 .jieshao .table tbody {
	height: 300px
}

.content .mengban4 .jieshao .table tbody tr td {
	padding: 12px
}

.content .mengban4 .jieshao .table tbody tr td input {
	width: 15px;
	height: 15px;
	margin: 0
}

.content .mengban4 .jieshao .jieshao-foot {
	width: 100%;
	text-align: center;
	float: left;
	margin: 0 0 30px 0
}

.content .mengban4 .jieshao .jieshao-foot button {
	width: 22%;
	height: 30px;
	font-size: 14px;
	color: #757575;
	margin-right: 20px;
	border: none;
	background: #f3f3f3;
	color: #6e6e6e
}

.content .stuDetail {
	margin-top: 20px;
	border: 1px solid #424242;
	border-radius: 15px;
	min-height: 300px
}

.content .stuDetail .box-body {
	height: 900px;
	width: 100%;
	overflow: hidden;
	margin: 0;
	margin-top: 30px
}

.content .stuDetail .box-body .table tr {
	height: 50px;
	width: auto
}

.content .stuDetail .box-body .table tr td {
	line-height: 50px;
	text-indent: 15px
}

.content .stuDetail .mengban {
	display: none;
	width: 100%;
	height: 100%;
	background: #e0e0e0c4;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 200
}

.content .stuDetail .mengban .delete {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	height: 290px;
	width: 500px;
	border: 1px solid #424242;
	border-radius: 15px;
	background: #fff;
	text-align: center
}

.content .stuDetail .mengban .delete .fa {
	margin-top: 30px;
	font-size: 50px;
	color: #fb0;
	display: inline-block
}

.content .stuDetail .mengban .delete h3 {
	line-height: 40px;
	font-size: 20px;
	margin-top: 25px
}

.content .stuDetail .mengban .delete button {
	width: 70px;
	height: 40px;
	font-size: 16px;
	margin-top: 25px
}

.content .stuDetail .mengban .delete .query {
	margin-right: 30px
}

.content .IntrDetail {
	margin-top: 10px;
	height: 600px;
	overflow: auto
}

.content .IntrDetail .mengban4 {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background: #c4c4c498;
	overflow: auto;
	z-index: 200
}

.content .IntrDetail .mengban4 .jieshao {
	position: absolute;
	width: 58%;
	height: 450px;
	background: #fff;
	top: 50px;
	left: 140px;
	right: 0;
	bottom: 0;
	margin: auto;
	border-radius: 15px;
	overflow: auto
}

.content .IntrDetail .mengban4 .jieshao .jieshao-top {
	width: 92%;
	margin-left: 4%;
	overflow: hidden;
	height: 80px
}

.content .IntrDetail .mengban4 .jieshao .jieshao-top h4 {
	float: left;
	margin: 30px 0 0 10px;
	font-weight: 600;
	font-size: 16px
}

.content .IntrDetail .mengban4 .jieshao .jieshao-top input {
	float: left;
	width: 40%;
	height: 40px;
	margin-left: 15%;
	margin-top: 18px;
	border-radius: 20px;
	border: 1px solid #dfdddd;
	text-indent: 15px
}

.content .IntrDetail .mengban4 .jieshao .jieshao-top .fa-search {
	font-size: 18px;
	margin-left: 15px;
	margin-top: 28px;
	cursor: pointer
}

.content .IntrDetail .mengban4 .jieshao .table {
	width: 90%;
	margin-left: 5%
}

.content .IntrDetail .mengban4 .jieshao .table tbody {
	height: 300px
}

.content .IntrDetail .mengban4 .jieshao .table tbody tr td {
	padding: 12px
}

.content .IntrDetail .mengban4 .jieshao .table tbody tr td input {
	width: 15px;
	height: 15px;
	margin: 0
}

.content .IntrDetail .mengban4 .jieshao .jieshao-foot {
	width: 100%;
	text-align: center;
	float: left;
	margin: 0 0 30px 0
}

.content .IntrDetail .mengban4 .jieshao .jieshao-foot button {
	width: 22%;
	height: 30px;
	font-size: 14px;
	color: #757575;
	margin-right: 20px;
	border: none;
	background: #f3f3f3;
	color: #6e6e6e
}

.content .IntrDetail .box-content {
	width: 94%;
	margin-left: 3%
}

.content .IntrDetail .box-content .title {
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #ccc;
	margin-top: 5px
}

.content .IntrDetail .box-content .title p {
	float: left;
	margin-right: 30px
}

.content .IntrDetail .box-content .title span {
	background: #eee;
	padding: 3px;
	font-size: 12px;
	color: #757575
}

.content .IntrDetail .box-content .jieshao {
	width: 100%
}

.content .IntrDetail .box-content .jieshao p {
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: left;
	margin: 20px 0
}

.content .IntrDetail .box-content .jieshao ul {
	padding: 0;
	width: 100%;
	height: 100%;
	margin-bottom: 20px;
	float: left
}

.content .IntrDetail .box-content .jieshao ul li {
	float: left;
	font-size: 12px;
	color: #757575;
	list-style: none;
	padding: 3px 12px;
	background: #eee;
	margin-right: 25px;
	margin-bottom: 20px;
	height: 23px
}

.content .IntrDetail .box-content .jieshao .add {
	border: none;
	float: left;
	background: #eee;
	padding: 4px 40px;
	color: #585858;
	margin-left: 38%
}

.content .box-primary .box-header,
.content .text .box-header {
	padding-bottom: 0
}

.content .box-primary .box-header h3,
.content .text .box-header h3 {
	padding: 5px 15px;
	font-weight: 600
}

.content .box-primary .box-header h3 input,
.content .text .box-header h3 input {
	border: 1px solid #eee
}

.content .box-primary .box-header ul,
.content .text .box-header ul {
	width: 100%;
	margin-top: 20px;
	padding: 0;
	overflow: hidden;
	margin-bottom: 0
}

.content .box-primary .box-header ul li,
.content .text .box-header ul li {
	list-style: none;
	width: 50%;
	float: left;
	line-height: 50px;
	border-bottom: 1px solid #ddd;
	text-indent: 15px
}

.content .box-primary .box-header ul li span:nth-of-type(2),
.content .text .box-header ul li span:nth-of-type(2) {
	font-size: 14px;
	color: #8b8b8b;
	margin-left: 35px
}

.content .box-primary .box-header ul li span:nth-of-type(2) input,
.content .text .box-header ul li span:nth-of-type(2) input {
	height: 25px;
	border: 1px solid #eee
}

.content .box-primary .box-body,
.content .text .box-body {
	margin: 0;
	width: 100%;
	height: 50%
}

.content .box-primary .box-body .table-responsive,
.content .text .box-body .table-responsive {
	height: 100%
}

.content .box-primary .box-body .table-responsive .table,
.content .text .box-body .table-responsive .table {
	width: 100%
}

.content .box-primary .box-body .table-responsive .table tbody td,
.content .text .box-body .table-responsive .table tbody td {
	padding: 12px;
	padding-left: 8px
}

.content .box-primary .box-body .table-responsive .table tbody td input,
.content .text .box-body .table-responsive .table tbody td input {
	width: 85%;
	border: 1px solid #eee
}

.content .box-primary .box-body .table-responsive .table tbody td .badge,
.content .text .box-body .table-responsive .table tbody td .badge {
	cursor: pointer
}

.content .box-primary .box-body .home-foot,
.content .text .box-body .home-foot {
	width: 100%;
	text-align: center;
	float: left;
	margin-top: 28px
}

.content .box-primary .box-body .home-foot button,
.content .text .box-body .home-foot button {
	width: 22%;
	height: 30px;
	font-size: 14px;
	color: #757575;
	margin-right: 18px;
	border: none;
	background: #f3f3f3;
	color: #6e6e6e
}

.content .text {
	display: none
}

.content .text .box-footer a {
	padding-right: 50px
}

.content .mengban3,
.content .mengban33 {
	display: none;
	position: fixed;
	background: #c2c2c2bb;
	width: 100%;
	height: 100%;
	z-index: 200;
	overflow: hidden;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto
}

.content .mengban3 .cont-text,
.content .mengban33 .cont-text {
	position: absolute;
	width: 678px;
	height: 370px;
	background: #fff;
	border-radius: 15px;
	top: 40px;
	left: 180px;
	bottom: 0;
	right: 0;
	margin: auto
}

.content .mengban3 .cont-text h3,
.content .mengban33 .cont-text h3 {
	font-size: 16px;
	width: 85%;
	margin-left: 4%;
	margin-top: 30px;
	font-weight: 600;
	float: left
}

.content .mengban3 .cont-text .box-tools,
.content .mengban33 .cont-text .box-tools {
	float: left;
	margin-top: 24px;
	padding-right: 20px
}

.content .mengban3 .cont-text ul,
.content .mengban33 .cont-text ul {
	width: 92%;
	margin-left: 4%;
	padding: 0;
	float: left
}

.content .mengban3 .cont-text ul li,
.content .mengban33 .cont-text ul li {
	list-style: none;
	float: left;
	width: 50%;
	line-height: 50px;
	border-bottom: 1px solid #eee;
	text-indent: 5px
}

.content .mengban3 .cont-text ul li span:nth-of-type(2),
.content .mengban33 .cont-text ul li span:nth-of-type(2) {
	font-size: 13px;
	color: #8b8b8b;
	margin-left: 35px
}

.content .mengban3 .cont-text ul li input,
.content .mengban33 .cont-text ul li input {
	height: 30px;
	line-height: 30px;
	border: none;
	font-size: 12px;
	color: #757575;
	padding: 0px 10px
}

.content .mengban3 .cont-text .table,
.content .mengban33 .cont-text .table {
	width: 100%
}

.content .mengban3 .cont-text .table tbody tr td input,
.content .mengban33 .cont-text .table tbody tr td input {
	width: 83%
}

.content .mengban3 .cont-text .foot,
.content .mengban33 .cont-text .foot {
	width: 100%;
	text-align: center;
	float: left;
	margin-top: 28px
}

.content .mengban3 .cont-text .foot button,
.content .mengban33 .cont-text .foot button {
	width: 22%;
	height: 30px;
	font-size: 14px;
	color: #757575;
	margin-right: 18px;
	border: none;
	background: #f3f3f3;
	color: #6e6e6e
}

.content .cooper {
	height: auto;
	padding-bottom: 40px
}

.content .cooper .cont {
	width: 95%;
	margin-left: 3%
}

.content .cooper .cont ul {
	padding: 0
}

.content .cooper .cont ul li {
	list-style: none;
	float: left;
	width: 50%;
	line-height: 50px;
	border-bottom: 1px solid #eee;
	text-indent: 5px
}

.content .cooper .cont ul li span:nth-of-type(2) {
	font-size: 13px;
	color: #8b8b8b;
	margin-left: 35px
}

.content .cooper .cont ul li input {
	height: 30px;
	line-height: 30px;
	background: #eeeeee;
	border: none;
	font-size: 12px;
	color: #757575;
	padding: 0px 20px
}

.content .cooper .cont ul li:nth-of-type(1) {
	width: 100%
}

.content .cooper .mengban {
	display: none;
	width: 100%;
	height: 100%;
	background: #e0e0e0c4;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 200
}

.content .cooper .mengban .delete {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	height: 290px;
	width: 500px;
	border: 1px solid #424242;
	border-radius: 15px;
	background: #fff;
	text-align: center
}

.content .cooper .mengban .delete .fa {
	margin-top: 30px;
	font-size: 50px;
	color: #fb0;
	display: inline-block
}

.content .cooper .mengban .delete h3 {
	line-height: 40px;
	font-size: 20px;
	margin-top: 25px
}

.content .cooper .mengban .delete button {
	width: 70px;
	height: 40px;
	font-size: 16px;
	margin-top: 25px
}

.content .cooper .mengban .delete .query {
	margin-right: 30px
}

.content .mengban2 {
	display: none;
	position: fixed;
	background: #c2c2c2bb;
	width: 100%;
	height: 100%;
	z-index: 200;
	overflow: hidden;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto
}

.content .mengban2 .cont-text {
	position: absolute;
	width: 678px;
	height: 390px;
	background: #fff;
	border-radius: 15px;
	top: 40px;
	left: 180px;
	bottom: 0;
	right: 0;
	margin: auto
}

.content .mengban2 .cont-text h3 {
	font-size: 16px;
	width: 92%;
	margin-left: 4%;
	margin-top: 30px;
	font-weight: 600
}

.content .mengban2 .cont-text ul {
	width: 92%;
	margin-left: 4%;
	padding: 0;
	float: left
}

.content .mengban2 .cont-text ul li {
	list-style: none;
	float: left;
	width: 50%;
	line-height: 50px;
	border-bottom: 1px solid #eee;
	text-indent: 5px
}

.content .mengban2 .cont-text ul li span:nth-of-type(2) {
	font-size: 13px;
	color: #8b8b8b;
	margin-left: 35px
}

.content .mengban2 .cont-text ul li input {
	height: 30px;
	line-height: 30px;
	border: none;
	font-size: 12px;
	color: #757575;
	padding: 0px 10px
}

.content .mengban2 .cont-text ul li:nth-of-type(1) {
	width: 100%
}

.content .mengban2 .cont-text ul li:nth-of-type(1) input {
	width: 60%;
	font-size: 16px;
	font-weight: 600;
	color: #333333
}

.content .mengban2 .cont-text .foot {
	width: 100%;
	text-align: center;
	float: left;
	margin-top: 20px
}

.content .mengban2 .cont-text .foot button {
	width: 22%;
	height: 30px;
	font-size: 14px;
	color: #757575;
	margin-right: 18px;
	border: none;
	background: #f3f3f3;
	color: #6e6e6e
}

.content .manage {
	width: 95%;
	background: #fff;
	border-radius: 10px;
	margin: 20px 3%;
	padding: 5px 0 20px 0
}

.content .manage .manage-top {
	width: 100%;
	overflow: hidden
}

.content .manage .manage-top h4 {
	float: left;
	margin: 20px;
	font-weight: 600
}

.content .manage .manage-top button {
	float: right;
	margin: 20px;
	color: #7e7e7e;
	border: none;
	padding: 5px 24px;
	background: #eee;
	font-size: 12px
}

.content .manage .manage-content {
	padding: 0;
	width: 92%;
	margin-left: 4%;
	overflow: hidden
}

.content .manage .manage-content li {
	list-style: none;
	line-height: 50px;
	border-bottom: 1px solid #cecece;
	width: 50%;
	float: left
}

.content .manage .manage-content li span:nth-of-type(2) {
	margin-left: 25px;
	color: #757575;
	font-size: 13px
}

.content .manage .manage-content li:nth-of-type(3) {
	width: 100%
}

.content .manage .manage-content li:nth-of-type(3) span {
	float: left
}

.content .manage .manage-content li:nth-of-type(3) span:nth-of-type(2) {
	width: 80%
}

.content .manage .manage-content li:nth-of-type(3) span:nth-of-type(2) ul {
	width: 100%;
	padding: 0;
	overflow: hidden
}

.content .manage .manage-content li:nth-of-type(3) span:nth-of-type(2) ul li {
	width: auto;
	float: left;
	padding-right: 30px;
	border: none
}

.content .add-tanchuang,
.content .txt-tanchuang {
	display: none;
	width: 100%;
	height: 100%;
	background: #e0e0e0c4;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 200
}

.content .add-tanchuang .manage,
.content .txt-tanchuang .manage {
	position: absolute;
	top: 60px;
	left: 100px;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 55%;
	height: 400px;
	overflow: auto;
	border: 1px solid #424242;
	border-radius: 15px;
	background: #fff
}

.content .add-tanchuang .manage .manage-content,
.content .txt-tanchuang .manage .manage-content {
	padding: 0;
	width: 92%;
	margin-left: 4%;
	overflow: hidden
}

.content .add-tanchuang .manage .manage-content li,
.content .txt-tanchuang .manage .manage-content li {
	list-style: none;
	line-height: 50px;
	border-bottom: 1px solid #cecece;
	width: 50%;
	float: left
}

.content .add-tanchuang .manage .manage-content li span:nth-of-type(2),
.content .txt-tanchuang .manage .manage-content li span:nth-of-type(2) {
	width: 60%;
	margin-left: 25px;
	color: #757575;
	font-size: 13px
}

.content .add-tanchuang .manage .manage-content li span:nth-of-type(2) input,
.content .txt-tanchuang .manage .manage-content li span:nth-of-type(2) input {
	height: 32px;
	border: none
}

.content .add-tanchuang .manage .manage-content li:nth-of-type(2) span:nth-of-type(2) input,
.content .txt-tanchuang .manage .manage-content li:nth-of-type(2) span:nth-of-type(2) input {
	height: 25px;
	width: 55px;
	line-height: 25px;
	padding: 0;
	border: none;
	background: #dddddd
}

.content .add-tanchuang .manage .manage-content li:nth-of-type(2) span:nth-of-type(2) .checked,
.content .txt-tanchuang .manage .manage-content li:nth-of-type(2) span:nth-of-type(2) .checked {
	background: #a8a8a8;
	color: #fff
}

.content .add-tanchuang .manage .manage-content li:nth-of-type(5),
.content .txt-tanchuang .manage .manage-content li:nth-of-type(5) {
	width: 100%
}

.content .add-tanchuang .manage .manage-content li:nth-of-type(5) span,
.content .txt-tanchuang .manage .manage-content li:nth-of-type(5) span {
	float: left
}

.content .add-tanchuang .manage .manage-content li:nth-of-type(5) span:nth-of-type(2),
.content .txt-tanchuang .manage .manage-content li:nth-of-type(5) span:nth-of-type(2) {
	width: 86%
}

.content .add-tanchuang .manage .manage-content li:nth-of-type(5) span:nth-of-type(2) ul,
.content .txt-tanchuang .manage .manage-content li:nth-of-type(5) span:nth-of-type(2) ul {
	width: 100%;
	padding: 0;
	overflow: hidden
}

.content .add-tanchuang .manage .manage-content li:nth-of-type(5) span:nth-of-type(2) ul li,
.content .txt-tanchuang .manage .manage-content li:nth-of-type(5) span:nth-of-type(2) ul li {
	width: auto;
	height: 25px;
	line-height: 25px;
	margin-top: 12px;
	float: left;
	margin-right: 25px;
	padding: 0 5px;
	border: none;
	cursor: pointer
}

.content .add-tanchuang .manage .manage-content li:nth-of-type(5) span:nth-of-type(2) ul .checked1,
.content .txt-tanchuang .manage .manage-content li:nth-of-type(5) span:nth-of-type(2) ul .checked1 {
	background: #dadada
}

.content .add-tanchuang .manage .manage-content li:nth-of-type(6),
.content .txt-tanchuang .manage .manage-content li:nth-of-type(6) {
	width: 100%
}

.content .add-tanchuang .manage .manage-content li:nth-of-type(6) span,
.content .txt-tanchuang .manage .manage-content li:nth-of-type(6) span {
	float: left
}

.content .add-tanchuang .manage .manage-content li:nth-of-type(6) span:nth-of-type(2),
.content .txt-tanchuang .manage .manage-content li:nth-of-type(6) span:nth-of-type(2) {
	width: 90%
}

.content .add-tanchuang .manage .manage-content li:nth-of-type(6) span:nth-of-type(2) ul,
.content .txt-tanchuang .manage .manage-content li:nth-of-type(6) span:nth-of-type(2) ul {
	width: 100%;
	padding: 0;
	overflow: hidden;
	margin: 10px 0
}

.content .add-tanchuang .manage .manage-content li:nth-of-type(6) span:nth-of-type(2) ul li,
.content .txt-tanchuang .manage .manage-content li:nth-of-type(6) span:nth-of-type(2) ul li {
	width: auto;
	float: left;
	padding: 0 10px;
	margin-right: 20px;
	margin-bottom: 5px;
	border: none;
	line-height: 25px;
	cursor: pointer
}

.content .add-tanchuang .manage .manage-content li:nth-of-type(6) span:nth-of-type(2) ul .checked,
.content .txt-tanchuang .manage .manage-content li:nth-of-type(6) span:nth-of-type(2) ul .checked {
	background: #dadada
}

.content .add-tanchuang .manage .manage-foot,
.content .txt-tanchuang .manage .manage-foot {
	width: 100%;
	text-align: center;
	float: left;
	margin-top: 28px
}

.content .add-tanchuang .manage .manage-foot button,
.content .txt-tanchuang .manage .manage-foot button {
	width: 22%;
	height: 30px;
	font-size: 14px;
	color: #757575;
	margin-right: 18px;
	border: none;
	background: #f3f3f3;
	color: #6e6e6e
}
